html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  
  background-color: #000000;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;

  font: inherit;
  text-align: center;
  text-transform: inherit;
  vertical-align: middle;
  border: none;

  background-color: #000000;
  color: #ffffff;
  cursor: pointer;

  transition: 0.2s;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #663D15;
}

.title {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

.index-page main{
  margin-bottom: 70px;
}

.index-page .header {
  margin-bottom: 70px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.logo {
  order: 2;
}
.header__logo {
  width: 370px;
  height: 153px;
}
.header__wrapper {
  width: 100%;
  margin-bottom: 65px;
  background-color: #000000;
}

.header__wrapper a {
  display: block;
  padding: 26px 19px;

  color: #ffffff;
}

.header__wrapper a:active,
.header__wrapper a:focus,
.header__wrapper a:hover {
  background-color: rgba(255,255,255,0.1);

  transition: 0.2s;
}

.header__wrapper .container {
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
}

.enter {
  width: 100px;
  text-align: right;
}

.enter .enter__button {
  position: relative;
  padding: 26px 16px;
  padding-left: 40px;
  margin-right: 0;
  padding-right: 0;
}

.enter__button::before {
  content: '';
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -8px;
  width: 14px;
  height: 15px;

  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.7;
}

.enter__button:hover::before,
.enter__button:focus::before,
.enter__button:active::before {
  opacity: 1;
  transition: 0.2s;
}

/* ADVANTAGES */

.advantages {
  text-align: center;
  margin-bottom: 80px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  width: 290px;
  padding: 0 10px;
}
.advantages__list-title {
  position: relative;
  margin: 0;
  margin-bottom: 55px;
  color: #ffffff;
}

.advantages__list-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.advantages__text {
  margin: 0;
}

/* NEWS */

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px 78px 48px 82px;
  margin-bottom: 35px;
  background-color: #f2f2f2;
}

.news__title {
  margin: 0;
}

.news {
  width: 380px;
}

.news__list {
  margin-bottom: 30px;
}

.news__item {
  margin-bottom: 16px;
}

.news__link {
  color: #000000;
}

.news__link:active,
.news__link:hover,
.news__link:focus {
  color: #663D15;
}

.news__link p {
  margin: 0;
  margin-bottom: 7px
}

.news__item:first-child p {
  margin-bottom: 30px;
}

.news__link time {
  text-transform: none;
}

.photo {
  width: 298px;
  min-height: 330px;
  position: relative;
}

.photo__title {
  margin: 0;
  margin-bottom: 40px;
}

.photo__image {
  position: relative;
  margin: 0;
  width: 288px;
  height: 178px;
  overflow: hidden;

  text-align: center;
    
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.photo__list {
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
  width: 9999px;
  transition: 1s;
}

.photo__item {
  height: 100%;
  width: 277px;
}

.photo__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.photo__buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.photo__buttons .button {
  flex-grow: 1;
}

.button:disabled {
  background-color: gray;
}

/* CONTACTS */

.contacts {
  width: 380px;
  color: #000000;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
}
.contacts__address {
  margin: 0;
  margin-bottom: 20px;
}

.contacts__time {
  margin: 0;
  margin-bottom: 30px;
}

.sign {
  width: 298px;
  color: #000000;
}

.sign__title {
  margin: 0;
  margin-bottom: 30px;
}
.sign__text {
  margin: 0;
  margin-bottom: 10px;
}
.sign__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 11px;
}

.sign__form p {
  margin: 0;
  margin-bottom: 8px;
  width: 140px;
}

.sign__form label {
  display: block;
  padding-left: 15px;
  margin-bottom: 10px;
}

.sign__form input {
  width: 140px;
  padding: 7px 14px;
  
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.sign__button {
  width: 100%;
}

.main-foot {
  width: 100%;
  padding: 55px 0 40px 0;
  background-color: #232323;
}

.main-foot .container {
  display: flex;
}

.main-foot__address {
  margin: 0;
  width: 310px;
  margin-right: 95px;
}
.main-foot__social {
  width: 140px;
  text-align: center;
}

.main-foot__social p{
  margin: 0px;
  margin-bottom: 15px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item a {
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000;
  transition: 0.3s;
}

.social__item:hover a,
.social__item:active a,
.social__item:focus a {
  background-color: #ffffff;
}

.social__item:hover path,
.social__item:active path,
.social__item:focus path {
  fill: #000000;
  transition: 0.3s;
}

.main-foot__made {
  margin: 0;
}

.main-foot__made {
  text-align: center;
  margin-left: auto;
}

.main-foot__made span {
  display: block;
  margin-bottom: 13px;
}