html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  
  background-color: #000000;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;

  font: inherit;
  text-align: center;
  text-transform: inherit;
  vertical-align: middle;
  border: none;

  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.title {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

.index-page .header {
  margin-bottom: 70px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.logo {
  order: 2;
}
.header__logo {
  width: 370px;
  height: 153px;
}
.header__wrapper {
  width: 100%;
  margin-bottom: 65px;
  background-color: #000000;
}

.header__wrapper a {
  display: block;
  padding: 26px 19px;

  color: #ffffff;
}

.header__wrapper a:active,
.header__wrapper a:focus,
.header__wrapper a:hover {
  background-color: rgba(255,255,255,0.1);

  transition: 0.2s;
}

.header__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
}

.enter {
  width: 100px;
  text-align: right;
}

.enter .enter__button {
  position: relative;
  padding: 26px 16px;
  padding-left: 40px;
  margin-right: 0;
  padding-right: 0;
}

.enter__button::before {
  content: '';
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -8px;
  width: 14px;
  height: 15px;

  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.7;
}

.enter__button:hover::before,
.enter__button:focus::before,
.enter__button:active::before {
  opacity: 1;
  transition: 0.2s;
}

/* ADVANTAGES */

.advantages {
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  width: 290px;
  padding: 0 5px;
}
.advantages__list-title {
  position: relative;
  margin: 0;
  margin-bottom: 55px;
  color: #ffffff;
}

.advantages__list-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.advantages__text {
  margin: 0;
}